@charset "UTF-8";

@media screen and (min-width: 768px) {

    html,body{
        height: 100vh;
        width: 100vw;
    }

    menu{
        background-color: rgb(138, 137, 137);
        margin-bottom: 10px;
    }

    #icon{
        display: none;
    }

    #itens{
        display: block;
    }

    .op{
       display: inline-flex;
       background-color: dimgray;
       padding-right: 10px;
    }

    main{
        width: 700px;
        margin: auto;
       
    }
}